@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #212529;
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding-bottom: 50px;
}
/* 关键：防止像素图片模糊 */
img {
    image-rendering: pixelated; 
}